In [2]:
import numpy as np
import pandas as pd

In [10]:
# Load Excel data
import pandas as pd

excel_file_path = "C:/Users/NH2395/Downloads/Group Module Level Classification_dCEO Chats.xlsx"
data = pd.read_excel(excel_file_path, sheet_name=0)

In [19]:
data=data.iloc[:,1:3]
data.head()

                       Questions Group Module
0            What is programming   Irrelevant
1                  what is BED ?   Irrelevant
2            What is Knowledge ?   Irrelevant
3  The exact place where I found   Irrelevant
4             what is C Program    Irrelevant

In [11]:
!pip install cuml-cu11 --extra-index-url=https://pypi.nvidia.com

Looking in indexes: https://pypi.org/simple, https://pypi.nvidia.com
Collecting cuml-cu11
  Downloading cuml-cu11-23.8.0.tar.gz (6.8 kB)
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'error'

  error: subprocess-exited-with-error

  × python setup.py egg_info did not run successfully.
  │ exit code: 1
  ╰─> [16 lines of output]
      Traceback (most recent call last):
        File "<string>", line 2, in <module>
        File "<pip-setuptools-caller>", line 34, in <module>
        File "C:\Users\NH2395\AppData\Local\Temp\pip-install-2u26_xbi\cuml-cu11_db2419d0385c46e6a26bb82374edb831\setup.py", line 137, in <module>
          raise RuntimeError(open("ERROR.txt", "r").read())
      RuntimeError:
      ###########################################################################################
      The package you are trying to install is only a placeholder project on PyPI.org repository.
      This package is hosted on NVIDIA Python Package Index.

      This package can be installed as:
      ```
      $ pip install --extra-index-url https://pypi.nvidia.com cuml-cu11
      ```
      ###########################################################################################

      [end of output]

  note: This error originates from a subprocess, and is likely not a problem with pip.
error: metadata-generation-failed

× Encountered error while generating package metadata.
╰─> See above for output.

note: This is an issue with the package mentioned above, not pip.
hint: See above for details.

In [ ]:
from bertopic import BERTopic

topic_model = BERTopic("english")
topics, probs = topic_model.fit_transform(docs)
#topic_model.push_to_hf_hub('davanstrien/transformers_issues_topics')

In [1]:
from bertopic import BERTopic
topic_model = BERTopic.load("davanstrien/transformers_issues_topics")

ModuleNotFoundError: No module named 'bertopic'

In [3]:
data = pd.read_csv('qq_data.csv')
data.shape

(50, 9)

In [4]:
data.head()

,S No,Hotel_Name,Location,Country,Theme,Max_people,Rating,Rate_Card,Booking_link
0,1,The Luxury Collection Hotels & Resorts,Hyderabad,INDIA,Pixel Trotter,2,4,4500,'https://www.agoda.com/?cid=1844104'
1,2,Marriott,Hyderabad,INDIA,Foodiee,5,3,3800,'https://www.agoda.com/?cid=1844104'
2,3,Regency Hotel,Pune,INDIA,Shopping,2,4,5500,'https://www.agoda.com/?cid=1844104'
3,4,Hilton Walt Disney World,Vishakapatanam,INDIA,Culture Enthusiast,1,5,3300,'https://www.agoda.com/?cid=1844104'
4,5,Disney’s Wilderness Lodge,Tamilnadu,INDIA,Foodiee,2,3,1800,'https://www.agoda.com/?cid=1844104'

In [5]:
df=data[(data.Location == 'Pune') & (data.Theme == 'Foodiee') ]
df

,S No,Hotel_Name,Location,Country,Theme,Max_people,Rating,Rate_Card,Booking_link
27,28,Rosewood Hotels & Resorts,Pune,INDIA,Foodiee,3,4,2740,'https://www.agoda.com/?cid=1844104'

In [7]:
df['Hotel_Name'].to_list()

['Rosewood Hotels & Resorts']

In [8]:
df.columns

Index(['S No', 'Hotel_Name', 'Location', 'Country', 'Theme', 'Max_people',
       'Rating', 'Rate_Card', 'Booking_link'],
      dtype='object')